.mySwiper2 {
  z-index: 1000;
  position: fixed;
  bottom: 3%;
  left: 0%;
  right: 0%;
  height: 10%;
}

.preview {
  margin: 5px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.touched {
  background-color: greenyellow;
}

@media (min-width: 769px) and (max-width: 1135px) {
  .preview {
    margin: 5px;
    width: 80%;
    height: 100%;
    border-radius: 20px;
  }
}
